# Emacs files.
*~

# Vscode.
.vscode/

# Virtual environment.
ev

# Data
data/
newdata/

# Python interpreter.
__pycache__/
*.pyc

# Data.
gallery1/
gallery2/
gallery3/

collected_data/
collected_data_one/
collected_data_two/
collected_data_three/

